body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.edit {
    background: orange;
    color: white;
    padding: 5px;
    border: none;
}

.delete {
    background: red;
    color: white;
    padding: 5px;
    border: none;
}
